# {
    background-color: gray;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, .2);
    color: white;
    border: 1px solid blue;
}
.carousel {
    border: 2px solid red;
    
}
.navbar {
    border: 2px solid blue;
}
h3 {
    color: red;
}